/* Reset */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Layout */
body {
    padding: 2%;
}

.wrapper {
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* General Styles */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
    padding: 1rem;
}

/* Regles */
.regles {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 1rem;
}

/* Le jeu */
/* boite */
.jeu {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 240px;
    height: 240px;
}

.morpion-titre {
    font-weight: bolder;
    background-color: green;
    border: 1px solid black;
    color: white;
    width: 100%;
    padding: 1rem;
    column-span: all;
}

table {
    width: 300px;
    margin: auto;
    border-collapse: collapse;
}

tr {
    display: flex;
    flex-direction: row;
}

td {
    width: 33.3%;
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

/* Annoncer le gagner et rejouer */
.gagne {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

#gagne_span {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 5%;
}

#gagne_bouton {
    margin: 2rem;
    font-size: 1.2rem;
}

.disabled {
    pointer-events: none;
}